
<div class=main-box>
<div class="contents-row">
<div class="box">
  <%= form_for(@post, html:{class: "boxes"}) do |f| %>
    <h3>
      投稿する
    </h3>
    <input placeholder="title" type="text" name="title">
    <input placeholder="Image Url" type="text" name="image">
    <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
    <input type="submit" value="SENT" class="btn">
  <% end %>
  </div>
</div>